*{
    font-family:  monospace;
}

body{
    
    margin:0;
}

header{
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(84, 183, 183);
}
button{
    border-radius: 10px;
    color: rgb(33, 63, 63);
    height: 40px;
    width: 130px;
    background-color:rgb(243, 246, 246);
    cursor: pointer;
    
}
.button:hover{
    background-color: rgb(53, 100, 100);
    color: #f0f8ff;
}
h1{
    color:rgb(62, 138, 138);
    font-size: 40px;
}
header h1{
    color: black;
    margin:10px;
}

main{
    padding: 15px;
}
section{
    background-color: rgb(219, 241, 241);
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
    height:100vh;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom:15px;
}

h2{
    color:rgb(62, 138, 138);
    font-size: 20px;
}
p{
    line-height: 25px;
    padding-left:100px;
    padding-right:100px;
    font-style:italic;
    font-size: 16px;  
}
img{
    width:250px;
    height:250px;
}

.submit{
    border:1px solid black;
    border-radius: 5px;
    background-color: rgb(73, 140, 140);
    color:white;
    width:100px;
    cursor:pointer;
}
.submit:hover{
    background-color: rgb(200, 207, 207);
    color: rgb(17, 19, 21);
}
input{
    border:1px solid lightgray;
    border-radius: 5px;
    height:20px;
}
.fixedbutton{
    position:fixed;
    bottom:10px;
    right:10px;
    height:50px;
    width:50px;
    border:none;
    border-radius: 50%;
    cursor:pointer;
    color:white;
    background-color: rgb(91, 134, 134);
}
footer{
    height:100px;
    background-color: black;
    color: lightgrey;
}